
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #04a585;
  transition: all .35s;
}

a:hover, a:focus {
  color: #04a585;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: #01a67a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}



.Cabecalho {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  
  background:  linear-gradient(to left, #0c292f,#0c292f);
}

.ConteudoCabecalho { 
  
  margin-bottom: 100px;
  text-align: center;
  
}

.ConteudoCabecalho span {
  color: #02d77a;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: bold;
  
}
.Cabecalho .ConteudoCabecalho h2 {
  
  line-height: 51px;
  font-weight: bolder;
  
}
.Cabecalho .ConteudoCabecalho strong {
  
  line-height: 51px;
  font-weight: 500;
  font-weight: bold;
  color: #02d77a;
}
.Cabecalho .ConteudoCabecalho p{
  max-width: 530px;
}

.Cabecalho .ImagemCabecalho {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

.Cabecalho .ImagemCabecalho .screen img {
  border-radius: 3px;
}

@media (max-width: 991px) {
  .Cabecalho img{
    display: none;
  }
}

@media (min-width: 992px) {
  .Cabecalho {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .Cabecalho .ConteudoCabecalho {
    margin-bottom: 0;
    text-align: left;
  }
 
  .Cabecalho .ImagemCabecalho {
    max-width: 325px;
  }
}


/* Itens */
.Itens{
  padding-top: 65px;
  padding-bottom: 0px;
  background-color: #0d0e0f;
}

.Itemtitulo {
  width: auto;
  margin-bottom: 150px;
}

.TituloItem {
  margin-bottom: 20px;
  color: #fff;
  font-size: 40px;
  line-height: 49px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3.2px;
}



.TextItem {
  color: #fff;
  font-size: 20px;
  text-align: center;
}




.CentralizarItem {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 20px; 
  justify-content: flex-start;
  align-items: center;
}

.CirculoNumero {
  display: flex;
  width: 48px;
  height: 48px;
  margin-right: 25px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-image: linear-gradient(45deg, #02d77a, #0c292f);
}

.NumeroItem {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.TextIten {
  width: 70%;
  
  color: #fff;

  line-height: 37px;
  font-weight: 600;
  text-align: left;
}



.footerItem {
  padding-top: 100px;  
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}



.BotaoItem {
  
  width: 60%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  display: block;
}

.BotaoItem:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: #1e2022;
}

/* FUNCIONALIDADES */
.Funcionalidades {
  
  padding-bottom: 160px;
  background-color: #0a2328;
}


.ItemLista {
  width: 90%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 12px;
  background-color: #103941;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 20px;
}

.textoFunci h6{
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.Lista {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  
}
@media (min-width: 767px) {
  .textoFunci {
    display: none;
  }
  
  
}
@media (max-width: 767px) {
  .Lista {
    display: none;
  }
  
  
}




/* PRAQUEM */
.Praquem {
  color:rgb(5, 5, 5);
  background:  #ebe8ee;
  background:  linear-gradient(to left, #fffbfb, #d4d4d4);
  position: relative;
  padding: 150px 0;
}

.Praquem h2 {
  font-size: 50px;
  margin-top: 0;
}
.Praquem .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
.Praquem .badges .badge-link:last-child {
  margin-bottom: 0;
}

.Praquem .badges .badge-link img {
  height: 60px;
}
.PraquemItemLista {
  width: 90%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 12px;
  background-color: #103941;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: auto;
  border-radius: 20px;
}

.PraquemLista {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  
}
/* EXEMPLOS */

.Exemplo{
  padding-top: 100px;
  padding-bottom: 170px;
  background-color: #d6d6d6;
  align-items: center;
}
.TituloExemplo h2{
  margin-bottom: 20px;
  color: #001e20;
  line-height: 51px;
  font-weight: bolder;
}
.TituloExemplo h3{
  margin-bottom: 20px;
  color: #001e20;
  line-height: 51px;
  font-weight: bolder;
}
.TituloExemplo strong{
  margin-bottom: 20px;
  color: #01a67a;
  line-height: 51px;
  font-weight: bold;
}

.Exemplo #myCarousel a{
  color: #000; 
  font-size: 40px;
}
@media (max-width: 377px) {
  .Exemplo #myCarousel a{
    display: none;
  }
  
}
@media (min-width: 766px) {
  .TituloExemplo h3{
    display: none;
  }
}
@media (min-width: 394px) {
  .Exemplo #myCarousel ol{
    display: none;
  }
}
@media (max-width: 422px) {
  .TituloExemplo {
    text-align: center;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .TituloExemplo h2{
    display: none;
  }
}

/* TABELAS DE PREÇO */
.custo {
  background: linear-gradient(to right, #0e2b31, #174650);
  padding: 0px;
}

.custo .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.custo hr {
  margin: 1.5rem 0;
}

.custo .TituloCartao {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.custo .PrecoCartao {
  font-size: 3rem;
  margin: 0;
}

.custo .PrecoCartao .Tempo {
  font-size: 0.8rem;
}

.custo ul li {
  margin-bottom: 1rem;
}

.custo .text-muted {
  opacity: 0.7;
}

.custo .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Effeito do card */

@media (min-width: 992px) {
  .custo .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .custo .card:hover .btn {
    opacity: 1;
  }
}





/* foto do final */
.Slogan {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

.Slogan .ConteudoSlogan {
  position: relative;
  z-index: 1;
}

.Slogan .ConteudoSlogan h6 {
  font-size: 30px;
  max-width: 750px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

  @media (min-width: 768px) {
    .Slogan .ConteudoSlogan h2 {
      font-size: 80px;
    }
  }

.Slogan .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.ContornoBotao {
  color: white;
  border: 1px solid;
  border-color: white;
}

.ContornoBotao:hover, .ContornoBotao:focus, .ContornoBotao:active, .ContornoBotao.active {
  color: white;
  border-color: #ffffff;
  background-color: #01a67a;
}

.Botao {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Botao-xl {
  font-size: 11px;
  padding: 15px 45px;
}

/* PERGUNTAS */
.Pergunta {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #d6d6d6;
}

.faq {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -100px;
  margin-bottom: -150px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fafafa;
 
}

.TituloPergunta {
  display: block;
  margin-bottom: 75px;
  color: #001e20;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.Responsivo{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.accordion-wrapper {
  margin-bottom: 50px;
}

.accordion-item {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 1px none #000;
  cursor: default;
}

.accordion-item-trigger {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.cabecalhoPergunta {
  margin-bottom: 20px;
  color: #4c5157;
  font-size: 17px;
  font-weight: 500;
}


.accordion-item-content {
  display: flex;
  overflow: hidden;
  padding-top: 0px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #fafafa;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.ParagrafoResposta {
  width: 80%;
  padding-top: 10px;
  padding-left: 10px;
  color: #999;
  font-size: 15px;
  font-weight: 400;
}

.ParagrafoContato {
  width: 75%;
  color: #979fa8;
  font-size: 13px;
  font-weight: 400;
}

.textEmail {
  color: #999;
  font-weight: 600;
}

/* RODAPE */
.Rodape {
  display: block;
  padding-top: 170px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  background-color: #0a2328;
}
.containerRodape {
  display: block;
  width: 95%;
  max-width: 1085px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CentroRodape {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-embed-2 {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* Rodape desenvolvedor */
footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}


























 
 
 
 
 
 
 
 
 
 
 
 
 
 
